<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.runningstars"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

	<!-- SD Card Writing -->
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    
    <!-- <uses-sdk android:minSdkVersion="10" android:targetSdkVersion="15" /> -->
    <uses-sdk android:minSdkVersion="14" android:targetSdkVersion="15" />
    
    <application android:label="@string/app_name"
        android:icon="@drawable/ic_launcher"
	    android:theme="@style/CustomThemeRed"
    	android:allowBackup="true"
    >
<!-- 	    android:name=".application.GPSApplication" -->
	    
    	<uses-library android:name="com.google.android.maps"/>

	    <activity
            android:name=".activity.GPSLocationActivity"
            android:label="@string/title_activity_gpslocation"
            android:screenOrientation="landscape"
            android:noHistory="false"
            android:configChanges="keyboardHidden|orientation"
        >
<!-- 			android:configChanges="keyboardHidden|orientation|screenSize" -->
	        <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
	    
		<!--     android:theme="@android:style/Theme.NoTitleBar" -->
	    <activity
			android:name=".activity.GPSMapActivity"
			android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:noHistory="true"
		/>

	    <activity
            android:name=".activity.DbToolActivity"
            android:label="@string/title_activity_dbTool"
            android:screenOrientation="portrait"
            android:noHistory="true"
        />

	    <activity
        	android:name=".activity.ProfilActivity"
            android:label="@string/title_activity_session_manager_no_session"
            android:screenOrientation="portrait"
            android:noHistory="true"
         />

	    <activity
        	android:name=".activity.SessionManagerActivity"
            android:label="@string/title_activity_session_manager_no_session"
            android:screenOrientation="portrait"
            android:noHistory="true"
         />
	    
	    <activity
			android:name=".activity.SessionDetailActivity"
            android:label="@string/title_activity_session_detail"
            android:screenOrientation="portrait"
            android:noHistory="true"
         />

	    <activity
	        android:name=".activity.ApplicationDataPreferenceActivity"
            android:label="@string/title_activity_application_data_preference"
            android:screenOrientation="portrait"
            android:noHistory="true"
            android:theme="@style/CustomPreferenceRedTheme"
         />
	    
	    <activity
	        android:name=".activity.ParameterActivity"
            android:label="@string/title_activity_parameter"
            android:screenOrientation="portrait"
            android:noHistory="true"
         />

		<activity
            android:name=".activity.dialog.RunDialogActivity"
            android:label="@string/title_activity_dialog_run"
            android:noHistory="true"
         />
<!--             android:theme="@android:style/Theme.DeviceDefault.Light.Dialog.NoActionBar.MinWidth" -->
<!-- 
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
		<receiver android:name=".receiver.StartServiceOnBootReceiver">  
		    <intent-filter>  
		        <action android:name="android.intent.action.BOOT_COMPLETED" />  
		    </intent-filter>  
		</receiver>
 -->
		<!-- DB Services -->
		<service android:name=".service.db.DbBackupService" />
		<service android:name=".service.db.DbRestoreService" />
		<service android:name=".service.db.DbRecreateService" />

		<!-- Session Services -->
		<service android:name=".service.session.SessionSendService" />
		<service android:name=".service.session.SessionRepaireService" />
		<service android:name=".service.session.SessionDeleteService" />
		<service android:name=".service.session.SessionKmlService" />

		<!-- System Services -->
		<service
		    android:name=".service.system.SystemGpsSessionService"
		    android:process=":remote"
		/>
		<service
		    android:name=".service.system.SystemGpsLocationService"
		    android:process=":remote"
		/>
		
		<!-- Map Services -->
		<service android:name=".service.map.MapCalculateLocationService" />
		
	</application>

</manifest>
